body {
    //background-color: powderblue;
    padding: 10px 256px;
}
h1 {
    text-decoration: underline;
}
p {
    //color: red;
}

div {
    padding-bottom: 15px;
}



.model_name {
    font-weight: bold;
}

.sample {
    padding-left: 50px;
}